
.root_container{
  height: 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container{
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-gap: 0.3%;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 30% 30% 30%;
    margin-top: -1vw;
  }
}
