
*{
    --header-link-color: rgb(215, 215, 215);
    --header-hovered-link-color: rgb(172, 172, 172);
}

.container{
    text-align: center;
}

.link{
    color: var(--header-link-color);
    text-decoration: none;
    font-size: 1.3vw;
    border-bottom: 1px rgba(0, 0, 0, 0) solid;
    font-family: var(--main-font);
    user-select: none;
}

.link:hover{
    border-bottom: 1px var(--header-hovered-link-color) solid;
    color: var(--header-hovered-link-color);
    transition: all 0.1s;
}
